<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link href="./css/style.css" rel="stylesheet">
</head>
<body>
    <div class="flex w-full h-15 bg-red-600 p-2 items-center">
        <img src="./img/logo_white.svg" alt="" class="h-9 ml-3 mr-7 float-left">
        <button class="mr-5 p-2 rounded-full bg-red-600 text-white hover:underline hover:underline-offset-4"><a href="/home">Home</a></button>
        <button class="mr-5 p-2 rounded-full bg-red-600 text-white hover:underline hover:underline-offset-4"><a href="/grandprix">Grand Prix</a></button>
        <button class="mr-5 p-2 rounded-full bg-red-600 text-white hover:underline hover:underline-offset-4"><a href="/constructors">Constructors</a></button>
        <button class="mr-5 p-2 rounded-full bg-red-600 text-white hover:underline hover:underline-offset-4"><a href="/drivers">Drivers</a></button>
        <button class="mr-5 p-2 rounded-full bg-red-600 text-white hover:underline hover:underline-offset-4"><a href="/circuits">Circuits</a></button>
    </div>
</body>
</html>