<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="grey-bg">
    <div class="white-bg">
        <% for (let i=0; i<drivers.length; i++) { %>
            <div class="list-box">
                <h4><%= drivers[i].driver_name %></h4>
                <p>No.<%= drivers[i].driver_number %> | <%= drivers[i].nationality %></p>
                <p><%= drivers[i].current_team %></p>
            </div>
        <% } %>
    </div> 
</body>
</html>